:root {
    --branding-color:#A31F34;
    --secondary-color:#000000;
}

.img-responsive{
    max-width: 250px;
    max-height: 72px;
}
nav {
    padding: 20px 0;
   
}

nav ul {
    padding: 0px;
    margin: 0px;
}

nav li {
    display: inline;
    list-style-type: none;
    line-height: 42px;
}

nav a {
    margin-left: 15px;
    text-decoration: none;
    color: #272142;
    transition: all 150ms ease-in-out;
}
nav a:hover,
nav li.active {
    color: var(--branding-color);
}
h1{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.contact-box {
    background: var(--branding-color);
    padding: 30px 120px;
    border-radius: 10px;
}

.contact-box p {
    margin: 0px;
}